<!-- archivo: templates/consulta.html -->
{% extends "layout.html" %}

{% block content %}
    <h2>Consultar Catequizando por Cédula</h2>
    <form action="/consultar" method="post">
        <label for="cedula_busqueda">Ingrese la Cédula:</label>
        <input type="text" id="cedula_busqueda" name="cedula_busqueda" required>
        <button type="submit">Buscar</button>
    </form>

    <!-- Si se encontró un resultado, lo mostramos aquí -->
    {% if resultado %}
        <div class="resultado">
            <h3>Resultado de la Búsqueda:</h3>
            <p><strong>ID:</strong> {{ resultado._id }}</p>
            <p><strong>Nombre Completo:</strong> {{ resultado.datos_personales.nombres }} {{ resultado.datos_personales.apellidos }}</p>
            <p><strong>Cédula:</strong> {{ resultado.datos_personales.cedula }}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{ resultado.datos_personales.fecha_nacimiento.strftime('%d/%m/%Y') }}</p>
            <p><strong>Estado:</strong> {{ resultado.estado }}</p>
            <p><strong>Sacramentos Recibidos:</strong> {{ resultado.sacramentos|length }}</p>
        </div>
    {% endif %}
{% endblock %}